* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #23252c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Inter;
  align-items: center;
  padding: 2.75em 7.3125em;
}

.container {
  margin-top: 2.5em;
  background: #1a1b21;
  width: 50%;
  margin: 0 auto;
  border-radius: 0.625rem;
}

.hero {
  width: 100%;
  color: #fff;
  text-align: center;
}
.avatar {
  width: 100%;
  object-fit: cover;
  height: 19.8125rem;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
}

.hero-title {
  margin: 1.31rem 0 0;
  font-size: 1.5625rem;
  font-weight: 700;
}

.hero-description {
  margin: 0.15rem 0 0.35rem;
  color: #f3bf99;
  font-size: 1rem;
  font-weight: 400;
}

.hero > a {
  display: block;
  width: 14.25rem;
  height: 1rem;
  margin: 0 auto 0.6rem;
  font-size: 0.66rem;
  line-height: 0.96rem;
  color: #f5f5f5;
  font-weight: 400;
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.btn-flex {
  width: 5.7rem;
  padding: 0.5625rem 0.8125rem;
  border: none;
  border-radius: 0.375rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

.mail {
  border: 1px solid var(--gray-300, #d1d5db);
  background: var(--white, #fff);
}

.linkedin {
  background: #5093e2;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 0rem 0rem 0.625rem 0.625rem;
  background: #161619;
  height: 4rem;
}
